
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*.before,
*.afer{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}
/* ---STARTS---CSS---HOME PAGE---- */

.header{
    position: sticky;
    /* position: absolute; */
    top:0;
    background-color: #2791C2;
    height: 4.3718em; /* 69.94815063476562px */
    width: 90em; /* 1440px */
    left: 0px;
    top: 0px;
    border-radius: 0px;
    display: flex;
        
}
.header img{
    position: absolute;
    height: 31.97629737854004px;
    width: 161px;
    left: 100px;
    top: 18.985925674438477px;
}
.header input{
    position: absolute;
    height: 41.97px;
    width: 384px;
    left: 528px;
    top: 13.989629745483398px;
    border-radius: 5px;
    border: none;
    justify-content: center;
    align-items: center;
    outline: none;
}
.header input::placeholder{
    color:rgba(188, 188, 188, 1);
    height: 31.97629737854004px;
    width: 106px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;    
    background-image: url(../img/Vector-lupa.png);
    background-repeat: no-repeat;
    padding-left: 10%;  
}
.search_list{
    position: absolute;
    width: 384px;   
    left: 528px;
    top: 2.3rem;
    border-radius: 5px;
    border: none;
    justify-content: center;
    align-items: center;
    outline: none;
    list-style-type: none;
    max-height: 7em;
    padding: 0.4rem;
    overflow-y: auto;
    cursor: pointer;
    background-color: #f2f2f2;
}

.main_home{
height: 84.3125em;/* 1349px */
width: 90em;/* 1440px */
left: 0px;
top: 0px;
border-radius: 0px;
background: linear-gradient(180deg, rgba(47, 47, 47, 0) 0%, #000000 100%);
}

.section_1{
/*     background-image: url(../img/Rectangle\ 5.png); */ 
    background-color: #00000098;
    height: 34.349em;
    width: 90em;   
    display: flex;
    flex-flow: column wrap;
    padding-top: 5.5vh;     
    padding-left: 12.42%;
}
.item_1 h2 {
    width: 96px;   
    height: 15.988147735595703px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0FEFFD; 
}

.item_2{
display: flex;
justify-content: space-evenly;
width: 96px;
margin-bottom: 13px;


}
.item_2_star{
    height: 12.657283782958984px;
    width: 13.333333015441895px;
    background: #FF9900;
    

}
.item_3 h3{
    height: 63.95px;
    width: 604px;
    font-family: Open Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
} 
.item_4 h4{
    height: 127.90518188476562px;
    width: 605px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color:#FFFFFF
}
.item_5{
    height: 55px;
    width: 261px;
    left: 179px;
    top: 402px;
    border: none;
    border-radius: 31px;
    padding: 8px 18px 8px 18px;
    background: rgba(39, 145, 194, 1);
    text-decoration: none;
    cursor: pointer;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
}

.section_1_bis{
    display: flex;
    flex-wrap: wrap;
    justify-content:end;
    background: #1E1E1E;
    padding-left: 208px;
    padding-right: 217px;
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
}
.switch{
    display: flex;
    justify-content: end;
    padding-left: 586px;
    padding-right: 13px;
}

/* another way to positon de cards: with grid */
/* grid-temple-columns: repaat(auto-fit, minmax(320px, 1fr)); */
.section_2{
    width: 100%;
    height: auto;
    background: #1E1E1E;    
    box-shadow: 0px 6px 6px rgba(11, 11, 11, 0.8); 
    padding: 0px 178px 159px 178px ;
    z-index: -90;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 62px;    
}

.card{
    height: 439.674072265625px;
    width: 320px;
}

.card_2{
    background-image: url(../img/Rectangle\ 39.png);
}

.card_3{
    background-image: url(../img/Rectangle\ 40.png);
}

